* {
    padding: 0;
    margin: 0;
}

.Titre {
    background: greenyellow;
    color: rgb(255, 8, 0);
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150px;
}

.container {
    background: rgba(132, 219, 2, 0.767);
    display: block;
    grid-template-columns: 1fr 3fr;
}

.pdp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    bottom: auto;
    position: block;
}

.navbar-nav {
    margin: 0 0 1.5em 0;
    padding: 10px 1em 10px 0;
    list-style-type: none;
    background-color: #228b22;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
}

.navbar-nav li {
    display: inline-flex;
    padding: 5px 0;
}

.navbar-nav li a {
    padding: 5px 1em 5px 1em;
    color: white;
    text-decoration: none;
    border-left: 1px solid #fff;
}

.navbar-nav li a:hover {
    background-color: lightblue;
    color: black;
    border-left: 1px solid #fff;
}

.texte {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.photo {
    max-width: 100%;
    display: block;
}

@media (max-width: 679px) {
    /*code pour une largeur <680px */
}

@media (min-width: 680px) and (max-width: 959px) {
    /* code pour une largeur comprise entre 680 et 959px */
}

.paragraphe {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: auto;
}
